.submit{
    text-decoration: none;
    
}
.info{
    background-color: #FFC0CB;
    height:7rem
}
body {
  background: #f8f9fa;
  font-family: Arial, sans-serif;
}

.card {
  border-radius: 15px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}
